.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1;
}
.box img {
    max-width: 100%;
    height: auto;
}

.box h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.box p {
    font-size: 1rem;
}