body {
    font-family: Arial, sans-serif;
    background-color: #abcff8;
    margin: 0;
    padding: 0;
}

header {
    
    background-color: #333;
    color: #7dc4da;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    outline: auto;
    outline-color: #7dc4da;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover { 
    background-color: #111;
  }

ol{
    list-style-type: circle;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1;
}

.box img {
    max-width: 100%;
    height: auto;
}

.box h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.box p {
    font-size: 1rem;
}